    <div class="container">
      <h3>{{jsonFormData?.description}}</h3>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let parag of jsonFormData?.formDefinition.fields" >
      <div *ngIf="parag.type == 'group'">
        <br> 
        <h4> {{parag.name}}</h4>
        <hr style="height:3px;background-color: black;">
      </div>
        <div class="row inputContainer{{parag.numberOfColumns}}" *ngFor="let x of createArray(countKey(parag.fields));index as i;">
                <div class="col-sm-12" *ngFor="let y of createArray(parag?.fields[i+1].length);index as j;"  >
                  
                    <div *ngIf="controlType(parag?.fields[i+1][j]) == 'dropdown'">
                      <label class="form-label">{{parag?.fields[i+1][j]?.name}} *</label>
                      <select [formControlName]="parag?.fields[i+1][j].id" class="form-select">
                         <option *ngFor=" let opt of parag?.fields[i+1][j]?.options" [value]="opt.name">{{opt.name}}</option>
                      </select>
                    </div>

                    <div *ngIf="controlType(parag?.fields[i+1][j]) == 'string'">
                      <label class="form-label">{{parag?.fields[i+1][j]?.name}} *</label>
                      <input class="form-control"  [formControlName]="parag?.fields[i+1][j].id" type="text">
                    </div>
                 

                  
                    <div *ngIf="controlType(parag?.fields[i+1][j]) == 'text'">
                      <label class="form-label">{{parag?.fields[i+1][j]?.name}} *</label>
                      <input class="form-control" [formControlName]="parag?.fields[i+1][j].id" type="text">
                    </div>
                  

                  
                    <div *ngIf="controlType(parag?.fields[i+1][j]) == 'boolean'">
                      <input class="form-check-input" [formControlName]="parag?.fields[i+1][j].id" type="checkbox">
                      <label class="form-label">{{parag?.fields[i+1][j]?.name}} *</label>
                    </div>


                    <div *ngIf="controlType(parag?.fields[i+1][j]) == 'multi-line-text'">
                      <label class="form-label">{{parag?.fields[i+1][j]?.name}} *</label>
                      <textarea row="1" cols="50" class="form-control" [formControlName]="parag?.fields[i+1][j].id" style="resize: none;"></textarea>
                    </div>

                    <div *ngIf="controlType(parag?.fields[i+1][j]) == 'upload'">
                      <label class="form-label">{{parag?.fields[i+1][j]?.name}} *</label>
                      <input class="form-control" type="file" id="formFile">
                    </div>
                  
                   
                </div>
        </div> 
      </div>
      <button class="btn btn-primary buttonSave" type="submit">Submit</button>
    </form>
    </div>

